body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    text-align: center;
}

#hint-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    left: 0;
    bottom: 0;
}

#hint-container {
    position: fixed;
    width: 65vmin;
    height: 85vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    overflow: scroll;
}

#start-note,
#end-note{
    width: 50vmin;
}

#hint-container table {
    line-height: 2;
    margin: 0 auto 5%;
    width: 50vmin;
    border: 1px solid #000;
    border-spacing: 0;
    text-align: center;
}

#hint-container a {
    margin: auto;
}

#hint-container table th,
#hint-container table td {
    border: 1px solid #000;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#output-container {
    align-items: center;
}

#output {
    width: 80vmin;
    height: 100vmin;
}